@media screen and (max-width: 768px) {
    #board {
        width: 80vw !important;
        height: 80vw !important;
        margin: 5vw 10vw 0px 10vw !important;
    }
}

#board {
    width: 80vh;
    height: 80vh;
    background-color: black;
    z-index: 1;
    /*border: 10px solid cyan;*/

}

html,
body {
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}